#Publicacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(210, 189, 189,0.5);
}

#Publicacion #imgcont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#imgcont #imgg{
    background-image: linear-gradient(45deg, blue, red);;
    width: 720px;
    height: 720px;
}

#newComment{
    width: 95%;
    height: 40px;
}
